# Ignore the file with secret API keys
.env

# Ignore the Google credentials file
credentials.json

# Ignore the database file
instance/users.db
vita_inspire.db

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Ignore Strava token file
strava_token.json
